/*base.css
should contain any general styling on top of what is provided by a reset.css or normalize.css file 
Apply to elements such as body and main
Examples include styling of overall font and background color */
body{
    margin: 0;
    padding: 0px; 
}
div{
    background-color: #D8D8D8;
    text-align: center;
}



/* Aghyad */
/* body{
    margin: 0;        
    padding: 0px;
   
}
div{
   background-color: #D8D8D8;
   color: white;
    text-align: center;
    box-shadow: 1px 1px 1px 1px gray, 1px 1px 1px 1px gray;

} */